		body{
			background-color: #000080;
		}
		
		header{
			background-color: #01BE2F;
			text-align: center;
		}

		header h1{
			color: #008000;
			font-size: 40px;
		}

		header img{
			border-radius: 150px;
		}
		h2{
			color: #87CEEB;
			font-size: 30px; 
		}

		p{
			color: #87CEEB;
			font-size: 20px;
		}
