		body{
			background-color: #000080;
		}
		
		header{
			background-color: #32CD32;
		}

		h1{
			color: #01BE2F;
			font-size: 40px;
		}

		h2{
			color: #87CEEB;
			font-size: 30px; 
		}

		p{
			color: #87CEEB;
			font-size: 20px;
		}
