		body{
			background-color: #000080;
			font-family:'AgencyFB';
		}
		
		header{
			background-color: #008000;
			text-align: center;
			padding-top: 50px;
			padding-bottom: 50px;
		}

		header h1{
			color:#32CD32;
			font-size: 40px;
		}

		header img{
			border-radius: 170px;
			width: 300px;
			border: 20px solid #32CD32;
		}

		h2{
			color: #87CEEB;
			font-size: 30px; 
		}

		p{
			color: #87CEEB;
			font-size: 20px;
		}
